<html>
  <head itemscope itemtype="http://schema.org/WebSite">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="keywords" content="Commercial" />
    <meta name="description" content="Commercial - Commercial" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      name="csrf-token"
      content="25be17b1550c6506b6737788a76a757517fcdaa8,7fccbb77c5e5034c507e560dd720e529b12236c9,1666813389"
    />
    <meta
      property="og:image"
      content="https://www.flexequipment.com.au/assets/website_logo.png"
    />
    <meta
      property="og:title"
      content="Commercial Gym Equipment, a wide Range to suit 24/7 Gyms, Functional Training Studios"
    />
    <meta property="og:site_name" content="Flex Fitness Equipment" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="/commercial/" />
    <meta property="og:description" content="Commercial - Commercial" />
    <title itemprop="name">
      Commercial Gym Equipment, a wide Range to suit 24/7 Gyms, Functional
      Training Studios
    </title>
    <link rel="canonical" href="/commercial/" itemprop="url" />
    <link rel="shortcut icon" href="/assets/favicon_logo.png?1666776304" />

    <link rel="dns-prefetch preconnect" href="//assets.netostatic.com" />
    <link rel="dns-prefetch" href="//use.fontawesome.com" />
    <link rel="dns-prefetch" href="//google-analytics.com" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      media="all"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.neto.com.au/assets/neto-cdn/jquery_ui/1.12.1/jquery-ui.min.css"
      media="all"
    />
    <!--[if lte IE 8]>
      <script
        type="text/javascript"
        src="https://cdn.neto.com.au/assets/neto-cdn/html5shiv/3.7.0/html5shiv.js"
      ></script>
      <script
        type="text/javascript"
        src="https://cdn.neto.com.au/assets/neto-cdn/respond.js/1.3.0/respond.min.js"
      ></script>
    <![endif]-->

    <script src="https://js.stripe.com/v3/"></script>

    <script type="text/javascript">
      (function (a, e, c, f, g, b, d) {
        var h = { ak: "984273587", cl: "27R7CI20-2EQs6Wr1QM" };
        a[c] =
          a[c] ||
          function () {
            (a[c].q = a[c].q || []).push(arguments);
          };
        a[f] || (a[f] = h.ak);
        b = e.createElement(g);
        b.async = 1;
        b.src = "//www.gstatic.com/wcm/loader.js";
        d = e.getElementsByTagName(g)[0];
        d.parentNode.insertBefore(b, d);
        a._googWcmGet = function (b, d, e) {
          a[c](2, b, h, d, null, new Date(), e);
        };
      })(window, document, "_googWcmImpl", "_googWcmAk", "script");
    </script>

    <meta
      name="google-site-verification"
      content="FRmB5k6QF-tQ4rZEByCly31LWTUT04CDfWMb-T2YVEI"
    />

    <script
      type="text/javascript"
      src="https://a.optmnstr.com/app/js/api.min.js"
      data-account="3916"
      data-user="30882"
      async
    ></script>

    <script
      id="convertful-api"
      src="https://app.convertful.com/Convertful.js?owner=3193"
      async
    ></script>

    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-K6LKXBX");
    </script>

    <meta
      name="ahrefs-site-verification"
      content="f5cfb9a7ac6e6ef9589cc8b81de9ec2017f21f2d9d6272e6e85917153a2607cc"
    />

    <script type="text/javascript">
      var _tip = _tip || [];
      (function (d, s, id) {
        var js,
          tjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
          return;
        }
        js = d.createElement(s);
        js.id = id;
        js.async = true;
        js.src =
          d.location.protocol + "//app.truconversion.com/ti-js/14521/08333.js";
        tjs.parentNode.insertBefore(js, tjs);
      })(document, "script", "ti-js");
    </script>

    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=AW-984273587"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "AW-984273587", { allow_enhanced_conversions: true });
    </script>

    <script src="https://app.outsmart.digital/neto.js" defer></script>

    <script
      type="application/javascript"
      async
      src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=KvNLud"
    ></script>
    <script src="https://static.klaviyoforneto.com/script.js" async></script>
    <script type="text/html" id="k4n-data">
      <span
        nloader-content-id="ceRUXo2Nr3CLk8EQQYWCmK-fNBMYDh-TuUjCwqXqtpsLklTGZlbrW6DSeoUGb9Ca5pcmnV3gLlF4sSwyQC7z3w"
        nloader-content="fN5sAHuUBT7OctziRvMFfuHPlkmChXywAbtppDjIyR2sf3wasgtHnNtx1LaY7_Hvguvvtax_Ttamj8MC2tT5oQ"
        nloader-data="JQl3G7YFFSIHQDtmyY5m6g"
      ></span>
    </script>
    <script>
      var k4n = {
        sms_cf: 6,
        sms_consent_label: "",
        sms_consent_terms: "",
        current_page: "category",
      };
    </script>

    <script>
      (function (w, d, t, r, u) {
        var f, n, i;
        (w[u] = w[u] || []),
          (f = function () {
            var o = { ti: "134609853" };
            (o.q = w[u]), (w[u] = new UET(o)), w[u].push("pageLoad");
          }),
          (n = d.createElement(t)),
          (n.src = r),
          (n.async = 1),
          (n.onload = n.onreadystatechange =
            function () {
              var s = this.readyState;
              (s && s !== "loaded" && s !== "complete") ||
                (f(), (n.onload = n.onreadystatechange = null));
            }),
          (i = d.getElementsByTagName(t)[0]),
          i.parentNode.insertBefore(n, i);
      })(window, document, "script", "//bat.bing.com/bat.js", "uetq");
    </script>

    <script type="text/javascript">
      (function (c, l, a, r, i, t, y) {
        c[a] =
          c[a] ||
          function () {
            (c[a].q = c[a].q || []).push(arguments);
          };
        t = l.createElement(r);
        t.async = 1;
        t.src = "https://www.clarity.ms/tag/" + i;
        y = l.getElementsByTagName(r)[0];
        y.parentNode.insertBefore(t, y);
      })(window, document, "clarity", "script", "9kc3xfxfex");
    </script>

    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-WQNZQ2N");
    </script>

    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-TMZ3GJECZ3"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-TMZ3GJECZ3", {
        send_page_view: false,
      });
    </script>

    <span
      nloader-content-id="nFyGNA6wNgsIRtCiPCNjbwC0XNKtgRr17ZYG-qUI2A47y_gTdrPO1xOJCMu8LUm5btTzNTuxEQAR2ugB66bf-8"
      nloader-content="kEfCuqC-Htl7rwX8EqfTkSz6fmgQoKxQPpPaoZ_RuAPWfpZHT-NVwUNRPMklRHxnv9uclcutmNVKGA9sJY_dynvs8XNhNs0o-ZeoLqjcwP7dDCb1B1VTd9_YrUeiU2jJYY0pTpLZWjTucFlJLw6XLlHDhdgpP9KWrV7_KNCWu4Acs2F1b071hxDyTUYlAujHfibZhU60TWh99fXwWQOUhurR2NVJJXlgvnjAYIZbyHE"
      nloader-data="_viblLtNDIQQBgG79mqZwfLR_tQi-qczRCuhNuIzQe0KPpKl2YMjnQcJPPEQUc1hAxjJXjxG2XsHrdqwboFS1BaBZe_zgL4D3MPuGhQIdYFxl5LUg2nvp5xdnIhkEWTYBrqWMLlg27A5p6FX3tqSXTUhe_6VrL0_qgYgCNgewM-0ia6ZzyJxd17cG3szV8MoNL9VIKJJruNIBoGfgldmrozxVJDzzYI0_1CiHNxdRCqjSQdW1EngtvfD3zltDz9jszQspvJwq5hskFbwlBoV1VmAE8uZtRYRw6CJT-GkWHig-m8f2jar14D8lBytdsPP7qBCr_BpPXNVw81c99-N-Y7hkw4PEveh4myQd_s0C9ap6tDy5kySjh8q24wu_s04LtP9Ht_1_5si-y-CqEwC0FfICf2u3ghS8UHyaHCqL0ftuBzAvbMiZbCuOLbg2QPlioM69Cb56h-qNaA42exmxrsBnoVIgdaRCBvL21WOc6VLeQswcDG55kUKYNDRBMXZNNaMIgYgoO4JuFeaOJLudzjpqeqXPcz8LsfSuQR0NhcYATIF2Quhq2Pm_ZCqm5B_qiBdpS4hXo2hyim-9Fk0JpWsCdZVOupMVLwqY8X-LtpA49RShHmShkKcWypKuTSrWQacMnko5I-nM5BZ8MJALICXhDWD-cIn_I5p1iwwNBHi5FwD6zfSXzHHzfwghylb05DkQznfKHHoJ_KYYfqESasxYgzlStB_MhkMPuK8ogQDAF2p0QNktu9itE5eCvK7g-EHbHSlG459zjO9Zp3A9xqIfNMp_OyiEETe5od0z2deM8mu6LRDOJK3Gmcv_MoiRpR5agVNbs1K-KLzlCCm6tIUhpBu-3iDKq3M-g4QPBV0yOlmgAmxUTFA-o_GBmO18EbOi_Sk6xeD8WnW2VsObQ"
    ></span>

    <script>
      !(function (w, d, t) {
        w.TiktokAnalyticsObject = t;
        var ttq = (w[t] = w[t] || []);
        (ttq.methods = [
          "page",
          "track",
          "identify",
          "instances",
          "debug",
          "on",
          "off",
          "once",
          "ready",
          "alias",
          "group",
          "enableCookie",
          "disableCookie",
        ]),
          (ttq.setAndDefer = function (t, e) {
            t[e] = function () {
              t.push([e].concat(Array.prototype.slice.call(arguments, 0)));
            };
          });
        for (var i = 0; i < ttq.methods.length; i++)
          ttq.setAndDefer(ttq, ttq.methods[i]);
        (ttq.instance = function (t) {
          for (var e = ttq._i[t] || [], n = 0; n < ttq.methods.length; n++)
            ttq.setAndDefer(e, ttq.methods[n]);
          return e;
        }),
          (ttq.load = function (e, n) {
            var i = "https://analytics.tiktok.com/i18n/pixel/events.js";
            (ttq._i = ttq._i || {}),
              (ttq._i[e] = []),
              (ttq._i[e]._u = i),
              (ttq._t = ttq._t || {}),
              (ttq._t[e] = +new Date()),
              (ttq._o = ttq._o || {}),
              (ttq._o[e] = n || {});
            var o = document.createElement("script");
            (o.type = "text/javascript"),
              (o.async = !0),
              (o.src = i + "?sdkid=" + e + "&lib=" + t);
            var a = document.getElementsByTagName("script")[0];
            a.parentNode.insertBefore(o, a);
          });

        ttq.load("CCUJ52RC77U2G17VKDQ0");
        ttq.page();
      })(window, document, "ttq");
    </script>

    <link rel="stylesheet" href="../assetsslick.css" />
    <link rel="stylesheet" href="../assets/slick-theme.css" />
    <link rel="preload" href="../assets/app.css" as="style" />
    <link rel="preload" href="../assets/style.css" as="style" />
    <link
      class="theme-selector"
      rel="stylesheet"
      href="../assets/app.css?"
      media="all"
    />
    <link rel="stylesheet" type="text/css" href="../assets/flipclock.css" />
    <link rel="stylesheet" href="../assets/style.css" media="all" />
  </head>
  <!-- KRaj HEADA-->

  <body>
   <div class="wrapper-header-announcement alert alert-dismissible fade show" role="alert">
<div class="container">
<p class="flex-announcement-bar"><a href="https://www.flexequipment.com.au/freeshipping" style="text-decoration: none;"><span style="color:#ffffff;">FREE SHIPPING ON SELECT ITEMS - AUSTRALIA WIDE (METRO) &gt; <u>CLICK HERE</u></span></a></p>
<style type="text/css">.flex-announcement-bar { font-size: 16px; text-align: center;} @media (max-width: 991.98px) { .flex-announcement-bar {font-size: 12px;}}
</style>
<button type="button" class="close" data-dismiss="alert" aria-label="Close">
<span aria-hidden="true">×</span>
</button>
</div>
</div>
  </body>
</html>
