<html>
<body>
<div class="footer-bottom">
<div class="container full-width-container">
<div class="row">
<div class="col-12 footer-copyright d-flex align-items-center">
<p data-test-id="address">
Copyright © 2022 Flex Fitness Equipment. All Rights Reserved. Powered by <a href="https://www.netohq.com/?netoref=P001181" target="_blank">Neto</a>. Crafted by <a href="https://perceptiv.digital/" target="_blank">Perceptiv Digital</a>
</p>
</div>
</div>
</div>
</div>

</body>
</html>