<html>
<body>
<div class="algolia-shadow">

<div id="main-content" role="main">
<div class="wrapper-home">
</div>
</div>
<style>
.wrapper-footer {
    margin-top: 0px;
}
</style>
<div class="commercial-page">
<div>

<section class="pd-hero pd-background-image pd-padding-tb-larger" style="background-image:url(/assets/marketing/289.gif?1655199952);">
<div class="container pd-container">
<div class="pd-hero-commercial-inner">
<h2 class="pd-hero-title">Commercial <br> Gym &amp; Studio Fitouts</h2>
<div class="pd-hero-description"><div class="commercial-btn">
<a href="#our-process">Our Process</a>
<a href="#get-a-quote">Get A Quote</a>
</div></div>
</div>
</div>
</section>

<section class="pd-flex-difference">
<div class="container pd-container">
<div class="title-wrapper justify-content-center">
<h2>The Flex Difference</h2>
</div>
<div class="row">
<div class="col-6 col-sm-4 col-lg-2">
<div class="pd-flex-difference-box">
<img src="/assets/1.png" data-gtm-vis-first-on-screen-43749594_28="758" data-gtm-vis-total-visible-time-43749594_28="500" data-gtm-vis-first-on-screen-90427889_84="762" data-gtm-vis-total-visible-time-90427889_84="500" data-gtm-vis-has-fired-43749594_28="1" data-gtm-vis-has-fired-90427889_84="1">
<p>10+ Years in the Fitness Industry</p>
</div>
</div>
<div class="col-6 col-sm-4 col-lg-2">
<div class="pd-flex-difference-box">
<img src="/assets/2.png" data-gtm-vis-first-on-screen-43749594_28="758" data-gtm-vis-total-visible-time-43749594_28="500" data-gtm-vis-first-on-screen-90427889_84="762" data-gtm-vis-total-visible-time-90427889_84="500" data-gtm-vis-has-fired-43749594_28="1" data-gtm-vis-has-fired-90427889_84="1">
<p>100% Australian Owned</p>
</div>
</div>
<div class="col-6 col-sm-4 col-lg-2">
<div class="pd-flex-difference-box">
<img src="/assets/3.png" data-gtm-vis-first-on-screen-43749594_28="758" data-gtm-vis-total-visible-time-43749594_28="500" data-gtm-vis-first-on-screen-90427889_84="762" data-gtm-vis-total-visible-time-90427889_84="500" data-gtm-vis-has-fired-43749594_28="1" data-gtm-vis-has-fired-90427889_84="1">
<p>1000+ Products to Choose From</p>
</div>
</div>
<div class="col-6 col-sm-4 col-lg-2">
<div class="pd-flex-difference-box">
<img src="/assets/4.png" data-gtm-vis-first-on-screen-43749594_28="758" data-gtm-vis-total-visible-time-43749594_28="500" data-gtm-vis-first-on-screen-90427889_84="762" data-gtm-vis-total-visible-time-90427889_84="500" data-gtm-vis-has-fired-43749594_28="1" data-gtm-vis-has-fired-90427889_84="1">
<p>Australia Wide Fast Shipping &amp; Installation</p>
</div>
</div>
<div class="col-6 col-sm-4 col-lg-2">
<div class="pd-flex-difference-box">
<img src="/assets/5.png" data-gtm-vis-first-on-screen-43749594_28="758" data-gtm-vis-total-visible-time-43749594_28="500" data-gtm-vis-first-on-screen-90427889_84="762" data-gtm-vis-total-visible-time-90427889_84="500" data-gtm-vis-has-fired-43749594_28="1" data-gtm-vis-has-fired-90427889_84="1">
<p>Price Match Guarantee</p>
</div>
</div>
<div class="col-6 col-sm-4 col-lg-2">
<div class="pd-flex-difference-box">
<img src="/assets/6.png" data-gtm-vis-first-on-screen-43749594_28="758" data-gtm-vis-total-visible-time-43749594_28="500" data-gtm-vis-first-on-screen-90427889_84="763" data-gtm-vis-total-visible-time-90427889_84="500" data-gtm-vis-has-fired-43749594_28="1" data-gtm-vis-has-fired-90427889_84="1">
<p>Essential Service &amp; Defense Discounts</p>
</div>
</div>
</div>
</div>
</section>

<section class="pd-our-customers">
<div class="container pd-container">
<div class="title-wrapper justify-content-center">
<h2>What Our Customers Say</h2>
 </div>
<div class="embed-responsive embed-responsive-16by9">
<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/cmtXkkCNlE4"></iframe>
</div>
</div>
</section>

<section class="pd-our-work">
<div class="container pd-container">
<div class="title-wrapper justify-content-center">
<h2>Check Out Our Work</h2>
</div>
<div class="row">
<div class="col-12 col-sm-6 col-lg-4">
<div class="pd-our-work-box">
<a href="https://www.flexequipment.com.au/page/commercial-gym-24-7/"><img src="https://www.flexequipment.com.au/assets/images/COMMERCIAL%20GYM%2024-7.jpg?1666776304" data-gtm-vis-first-on-screen-43749594_28="15256" data-gtm-vis-total-visible-time-43749594_28="500" data-gtm-vis-first-on-screen-90427889_84="15260" data-gtm-vis-total-visible-time-90427889_84="500" data-gtm-vis-has-fired-43749594_28="1" data-gtm-vis-has-fired-90427889_84="1"></a>
<div class="pd-our-work-content">
<h2 class="mb-0"><a href="https://www.flexequipment.com.au/page/commercial-gym-24-7/">Commercial Gym 24/7</a></h2>
<p><a href="https://www.flexequipment.com.au/page/commercial-gym-24-7/">View Project</a></p>
</div>
</div>
</div>
<div class="col-12 col-sm-6 col-lg-4">
<div class="pd-our-work-box">
<a><img src="https://www.flexequipment.com.au/assets/images/CROSSFIT%20AFFILIATES.jpg?1666776304" data-gtm-vis-first-on-screen-43749594_28="15257" data-gtm-vis-total-visible-time-43749594_28="500" data-gtm-vis-first-on-screen-90427889_84="15261" data-gtm-vis-total-visible-time-90427889_84="500" data-gtm-vis-has-fired-43749594_28="1" data-gtm-vis-has-fired-90427889_84="1"></a>
<div class="pd-our-work-content">
<h2 class="mb-0"><a>Crossfit Affiliates</a></h2>
<p class="d-none"><a>View Project</a></p>
</div>
</div>
</div>
<div class="col-12 col-sm-6 col-lg-4">
<div class="pd-our-work-box">
<a><img src="https://www.flexequipment.com.au/assets/images/PHYSIO%20&%20REHAB%20SERVICES.jpg?1666776304" data-gtm-vis-first-on-screen-43749594_28="15258" data-gtm-vis-total-visible-time-43749594_28="500" data-gtm-vis-first-on-screen-90427889_84="15262" data-gtm-vis-total-visible-time-90427889_84="500" data-gtm-vis-has-fired-43749594_28="1" data-gtm-vis-has-fired-90427889_84="1"></a>
<div class="pd-our-work-content">
<h2 class="mb-0"><a>Physio &amp; Rehab Services</a></h2>
<p class="d-none"><a>View Project</a></p>
</div>
</div>
</div>
<div class="col-12 col-sm-6 col-lg-4">
<div class="pd-our-work-box">
<a><img src="https://www.flexequipment.com.au/assets/images/SCHOOLS%20&%20UNIVERSITIES.jpg?1666776304" data-gtm-vis-first-on-screen-43749594_28="22993" data-gtm-vis-total-visible-time-43749594_28="300" data-gtm-vis-first-on-screen-90427889_84="22998" data-gtm-vis-total-visible-time-90427889_84="300"></a>
<div class="pd-our-work-content">
<h2 class="mb-0"><a>Schools &amp; Universities</a></h2>
<p class="d-none"><a>View Project</a></p>
</div>
</div>
</div>
<div class="col-12 col-sm-6 col-lg-4">
<div class="pd-our-work-box">
<a href="https://www.flexequipment.com.au/assets/images/FUNCTIONAL%20FITNESS%20&%20PERSONAL%20TRAINING.jpg?1666776304"><img src="https://www.flexequipment.com.au/assets/images/FUNCTIONAL%20FITNESS%20&%20PERSONAL%20TRAINING.jpg?1666776304" data-gtm-vis-first-on-screen-43749594_28="22995" data-gtm-vis-total-visible-time-43749594_28="300" data-gtm-vis-first-on-screen-90427889_84="22999" data-gtm-vis-total-visible-time-90427889_84="300"></a>
<div class="pd-our-work-content">
<h2 class="mb-0"><a href="https://www.flexequipment.com.au/page/functional-fitness-personal-training/">Functional Fitness &amp; Personal Training</a></h2>
<p><a href="https://www.flexequipment.com.au/page/functional-fitness-personal-training/">View Project</a></p>
</div>
</div>
</div>
<div class="col-12 col-sm-6 col-lg-4 d-none">
<div class="pd-our-work-box">
<a><img src="https://www.flexequipment.com.au/assets/images/our_work_07.png?1666776304"></a>
<div class="pd-our-work-content">
<h2 class="mb-0"><a>Personal Training</a></h2>
<p class="d-none"><a>View Project</a></p>
</div>
</div>
</div>
<div class="col-12 col-sm-6 col-lg-4">
<div class="pd-our-work-box">
<a><img src="https://www.flexequipment.com.au/assets/images/our_work_07.png?1666776304" data-gtm-vis-first-on-screen-43749594_28="22996" data-gtm-vis-total-visible-time-43749594_28="300" data-gtm-vis-first-on-screen-90427889_84="23000" data-gtm-vis-total-visible-time-90427889_84="300"></a>
<div class="pd-our-work-content">
<h2 class="mb-0"><a>Boxing &amp; MMA</a></h2>
<p class="d-none"><a>View Project</a></p>
</div>
</div>
</div>
<div class="col-12 col-sm-6 col-lg-4">
<div class="pd-our-work-box">
<a><img src="https://www.flexequipment.com.au/assets/images/CORPORATE.jpg?1666776304" data-gtm-vis-first-on-screen-43749594_28="23391" data-gtm-vis-total-visible-time-43749594_28="400" data-gtm-vis-first-on-screen-90427889_84="23395" data-gtm-vis-total-visible-time-90427889_84="400"></a>
<div class="pd-our-work-content">
<h2 class="mb-0"><a>Corporate</a></h2>
<p class="d-none"><a>View Project</a></p>
</div>
</div>
</div>
<div class="col-12 col-sm-6 col-lg-4">
<div class="pd-our-work-box">
<a><img src="https://www.flexequipment.com.au/assets/images/APARTMENTS.jpg?1666776304" data-gtm-vis-first-on-screen-43749594_28="23393" data-gtm-vis-total-visible-time-43749594_28="400" data-gtm-vis-first-on-screen-90427889_84="23397" data-gtm-vis-total-visible-time-90427889_84="400"></a>
<div class="pd-our-work-content">
<h2 class="mb-0"><a>Apartments</a></h2>
<p class="d-none"><a>View Project</a></p>
</div>
</div>
</div>
<div class="col-12 col-sm-6 col-lg-4">
<div class="pd-our-work-box">
<a><img src="https://www.flexequipment.com.au/assets/images/3D%20Icon.jpg?1666776304" data-gtm-vis-total-visible-time-43749594_28="400" data-gtm-vis-first-on-screen-90427889_84="23398" data-gtm-vis-total-visible-time-90427889_84="400"></a>
<div class="pd-our-work-content">
<h2 class="mb-0 quote-cat-btn"><a href="#get-a-quote">Get a Quote</a></h2>
</div>
</div>
</div>
</div>
<div class="pd-our-work-btn d-none">
<a href="">View More</a>
</div>
</div>
</section>

<section class="pd-category-boxes">
<div class="container pd-container">
<div class="title-wrapper justify-content-center">
<h2>Commercial Gym Equipment</h2>
<p>At Flex we have set up hundreds of gyms, and can help you get the set up you need. Whether it would be a 24/7 commercial gym, personal training studio, crossfit box, company workout areas, schools, and/ or international shipment. We have the expertise and the equipment to ensure that setting up your workout space is a breeze.</p>
<p>We will make sure you have the right equipment for the right price, combined with the expert advice and top-quality service. Get in touch with us for a free consult and quote today.</p>
</div>
<div class="row pd-categories-sec pd-subcategories-top" aria-label="Sub-Category Links"><div class="col-6 col-sm-4 col-md-3 col-lg-3 pd-cat-col">
<div class="pd-banner pd-categories-box">
<a class="banner-hover image-link" href="https://www.flexequipment.com.au/commercial/airmill">
<div class="pd-cat-title pd_bottom pd_right">
<p>AIRMILL</p>
<img alt="" src="/assets/webshop/cms/00/1200.jpg?1637125220" data-gtm-vis-first-on-screen-43749594_28="5476" data-gtm-vis-total-visible-time-43749594_28="500" data-gtm-vis-has-fired-43749594_28="1" data-gtm-vis-first-on-screen-90427889_84="24175" data-gtm-vis-total-visible-time-90427889_84="500" data-gtm-vis-has-fired-90427889_84="1">
</div>
</a>
</div>
</div><div class="col-6 col-sm-4 col-md-3 col-lg-3 pd-cat-col">
<div class="pd-banner pd-categories-box">
<a class="banner-hover image-link" href="https://www.flexequipment.com.au/commercial/armortech">
<div class="pd-cat-title pd_bottom pd_right">
<p>ARMORTECH</p>
<img alt="" src="/assets/webshop/cms/94/794.jpg?1637124592" data-gtm-vis-first-on-screen-43749594_28="5478" data-gtm-vis-total-visible-time-43749594_28="500" data-gtm-vis-has-fired-43749594_28="1" data-gtm-vis-first-on-screen-90427889_84="24176" data-gtm-vis-total-visible-time-90427889_84="500" data-gtm-vis-has-fired-90427889_84="1">
</div>
</a>
</div>
</div><div class="col-6 col-sm-4 col-md-3 col-lg-3 pd-cat-col">
<div class="pd-banner pd-categories-box">
<a class="banner-hover image-link" href="https://www.flexequipment.com.au/concept2">
<div class="pd-cat-title pd_bottom pd_right">
<p>CONCEPT2</p>
<img alt="" src="/assets/webshop/cms/01/1201.jpg?1637125503" data-gtm-vis-first-on-screen-43749594_28="5478" data-gtm-vis-total-visible-time-43749594_28="500" data-gtm-vis-has-fired-43749594_28="1" data-gtm-vis-first-on-screen-90427889_84="24178" data-gtm-vis-total-visible-time-90427889_84="500" data-gtm-vis-has-fired-90427889_84="1">
</div>
</a>
</div>
</div><div class="col-6 col-sm-4 col-md-3 col-lg-3 pd-cat-col">
<div class="pd-banner pd-categories-box">
<a class="banner-hover image-link" href="https://www.flexequipment.com.au/commercial/ffittech/">
<div class="pd-cat-title pd_bottom pd_right">
<p>FFITTECH</p>
<img alt="" src="/assets/webshop/cms/73/773.jpg?1577972096" data-gtm-vis-first-on-screen-43749594_28="5479" data-gtm-vis-total-visible-time-43749594_28="500" data-gtm-vis-has-fired-43749594_28="1" data-gtm-vis-first-on-screen-90427889_84="24179" data-gtm-vis-total-visible-time-90427889_84="500" data-gtm-vis-has-fired-90427889_84="1">
</div>
</a>
</div>
</div><div class="col-6 col-sm-4 col-md-3 col-lg-3 pd-cat-col">
<div class="pd-banner pd-categories-box">
<a class="banner-hover image-link" href="https://www.flexequipment.com.au/matrix/">
<div class="pd-cat-title pd_bottom pd_right">
<p>MATRIX</p>
<img alt="" src="/assets/webshop/cms/88/1188.jpg?1637123793" data-gtm-vis-first-on-screen-43749594_28="5479" data-gtm-vis-total-visible-time-43749594_28="500" data-gtm-vis-has-fired-43749594_28="1" data-gtm-vis-first-on-screen-90427889_84="24180" data-gtm-vis-total-visible-time-90427889_84="500" data-gtm-vis-has-fired-90427889_84="1">
</div>
</a>
</div>
</div>
</div>
</div></section>

<section class="pd-appointment-quote" id="get-a-quote">
<div class="pd-quote">
<h3>Get a quote</h3>
<p>Please fill out the form below to request a quote.</p>
<form lang="en" tabindex="-1" class="😉 cog-cognito cog-form cog-25 is-default cog-cognito--styled cog-form--light-background cog-cognito--protect-css" data-width="800 700 650 625 600 575 550 525 500 475 450 425 400 375 350 325 300 275 250 225 200"><div class="cog-form__container"><div class="cog-form__content"><!----><div class="cog-body"><!----><div class="cog-page cog-wrapper cog-transition-ltr"><div class="cog-row"><fieldset class="cog-field cog-field--1 cog-col cog-col--24 cog-name is-required"><legend class="cog-label">
			Name<span aria-hidden="true" class="cog-asterisk">*</span> <span class="cog-offscreen">(required)</span> <!----></legend> <div class="cog-name"><div class="cog-row"><!----> <div class="cog-input cog-name__first cog-input--long"><div class="el-input"><!----><input type="text" autocomplete="given-name" id="cog-input-auto-0" placeholder="First" title="First" class="el-input__inner"><!----><!----><!----><!----></div></div> <!----> <!----> <div class="cog-input cog-name__last cog-input--long"><div class="el-input"><!----><input type="text" autocomplete="family-name" id="cog-input-auto-1" placeholder="Last" title="Last" class="el-input__inner"><!----><!----><!----><!----></div></div> <!----></div></div> <div class="cog-field__placeholder cog-input"><div class="cog-field__placeholder-inner">
				&nbsp;
			</div></div> <!----> <!----> <!----></fieldset></div><div class="cog-row"><div class="cog-field cog-field--3 cog-col cog-col--12 cog-phone cog-phone--international is-required"><label id="cog-1-label" for="cog-1" class="cog-label">
			Phone<span aria-hidden="true" class="cog-asterisk">*</span> <span class="cog-offscreen">(required)</span> <!----></label> <div class="cog-input"><div class="el-input"><!----><input type="text" autocomplete="tel" id="cog-1" placeholder="" class="el-input__inner"><!----><!----><!----><!----></div></div> <div class="cog-field__placeholder cog-input"><div class="cog-field__placeholder-inner">
				&nbsp;
			</div></div> <!----> <!----> <!----></div><div class="cog-field cog-field--4 cog-col cog-col--12 cog-email is-required"><label id="cog-2-label" for="cog-2" class="cog-label">
			Email<span aria-hidden="true" class="cog-asterisk">*</span> <span class="cog-offscreen">(required)</span> <!----></label> <div class="cog-input"><div class="el-input"><!----><input type="text" autocomplete="email" id="cog-2" placeholder="" class="el-input__inner"><!----><!----><!----><!----></div></div> <div class="cog-field__placeholder cog-input"><div class="cog-field__placeholder-inner">
				&nbsp;
			</div></div> <!----> <!----> <!----></div></div><div class="cog-row"><div class="cog-field cog-field--6 cog-col cog-col--12 cog-choice cog-choice--dropdown"><label id="cog-3-label" for="cog-3" class="cog-label">
			When were you looking at purchasing?<!----> <!----> <!----></label> <div class="cog-choice"><div class="cog-picker cog-select cog-input"><div class="el-select el-select--dropdown-bottom"><!----><div class="el-input el-input--prefix el-input--suffix"><!----><input type="text" readonly="readonly" autocomplete="prevent" id="cog-3" aria-controls="cog-3-listbox" role="combobox" aria-haspopup="listbox" aria-owns="cog-3-listbox" aria-expanded="false" class="el-input__inner" aria-activedescendant="cog-3-option-null" style="height: 46px;"><span class="el-input__prefix"><span><svg viewBox="0 0 18 18" focusable="false" class="cog-icon cog-i-chevron"><g><path stroke-linecap="square" d="M3 7l6 6 6-6"></path></g></svg></span><!----></span><span class="el-input__suffix"><span class="el-input__suffix-inner"><!----><i class="el-select__caret el-input__icon el-icon-arrow-up"></i><!----><!----><!----><!----><!----></span><!----></span><!----><!----></div><div class="el-select-dropdown el-popper cog-cognito cog-25 cog-cognito--styled cog-select-popper  cog-cognito--protect-css " style="display: none; min-width: 387.5px;"><div class="el-scrollbar" style=""><div class="el-select-dropdown__wrap el-scrollbar__wrap" style="margin-bottom: -17px; margin-right: -17px;"><ul id="cog-3-listbox" role="listbox" class="el-scrollbar__view el-select-dropdown__list"><!----><li role="option" id="cog-3-option-null" aria-selected="true" class="el-select-dropdown__item cog-select-option--empty selected hover">&nbsp;</li> <li role="option" id="cog-3-option-ASAP" aria-selected="false" class="el-select-dropdown__item" style="order: 0;"><span>ASAP</span></li><li role="option" id="cog-3-option-1-2 months" aria-selected="false" class="el-select-dropdown__item" style="order: 1;"><span>1-2 months</span></li><li role="option" id="cog-3-option-3-6 months" aria-selected="false" class="el-select-dropdown__item" style="order: 2;"><span>3-6 months</span></li><li role="option" id="cog-3-option-6 months +" aria-selected="false" class="el-select-dropdown__item" style="order: 3;"><span>6 months +</span></li></ul></div><!----><!----></div><!----></div></div></div> <div class="cog-choice__placeholder cog-input"><div class="cog-field__placeholder-inner">
			&nbsp;
		</div></div></div> <div class="cog-field__placeholder cog-input"><div class="cog-field__placeholder-inner">
				&nbsp;
			</div></div> <!----> <!----> <!----></div><div class="cog-field cog-field--7 cog-col cog-col--12 cog-choice cog-choice--dropdown"><label id="cog-4-label" for="cog-4" class="cog-label">
			Budget for Setup?<!----> <!----> <!----></label> <div class="cog-choice"><div class="cog-picker cog-select cog-input"><div class="el-select el-select--dropdown-bottom"><!----><div class="el-input el-input--prefix el-input--suffix"><!----><input type="text" readonly="readonly" autocomplete="prevent" id="cog-4" aria-controls="cog-4-listbox" role="combobox" aria-haspopup="listbox" aria-owns="cog-4-listbox" aria-expanded="false" class="el-input__inner" aria-activedescendant="cog-4-option-null" style="height: 46px;"><span class="el-input__prefix"><span><svg viewBox="0 0 18 18" focusable="false" class="cog-icon cog-i-chevron"><g><path stroke-linecap="square" d="M3 7l6 6 6-6"></path></g></svg></span><!----></span><span class="el-input__suffix"><span class="el-input__suffix-inner"><!----><i class="el-select__caret el-input__icon el-icon-arrow-up"></i><!----><!----><!----><!----><!----></span><!----></span><!----><!----></div><div class="el-select-dropdown el-popper cog-cognito cog-25 cog-cognito--styled cog-select-popper  cog-cognito--protect-css " style="display: none; min-width: 387.5px;"><div class="el-scrollbar" style=""><div class="el-select-dropdown__wrap el-scrollbar__wrap" style="margin-bottom: -17px; margin-right: -17px;"><ul id="cog-4-listbox" role="listbox" class="el-scrollbar__view el-select-dropdown__list"><!----><li role="option" id="cog-4-option-null" aria-selected="true" class="el-select-dropdown__item cog-select-option--empty selected hover">&nbsp;</li> <li role="option" id="cog-4-option-$10 - $20k" aria-selected="false" class="el-select-dropdown__item" style="order: 0;"><span>$10 - $20k</span></li><li role="option" id="cog-4-option-$20k - $50k" aria-selected="false" class="el-select-dropdown__item" style="order: 1;"><span>$20k - $50k</span></li><li role="option" id="cog-4-option-$50k - $100k" aria-selected="false" class="el-select-dropdown__item" style="order: 2;"><span>$50k - $100k</span></li><li role="option" id="cog-4-option-$100k - $500k" aria-selected="false" class="el-select-dropdown__item" style="order: 3;"><span>$100k - $500k</span></li><li role="option" id="cog-4-option-$500k +" aria-selected="false" class="el-select-dropdown__item" style="order: 4;"><span>$500k +</span></li></ul></div><!----><!----></div><!----></div></div></div> <div class="cog-choice__placeholder cog-input"><div class="cog-field__placeholder-inner">
			&nbsp;
		</div></div></div> <div class="cog-field__placeholder cog-input"><div class="cog-field__placeholder-inner">
				&nbsp;
			</div></div> <!----> <!----> <!----></div></div><div class="cog-row"><div class="cog-field cog-field--5 cog-col cog-col--24 cog-text cog-text--multiplelines is-required"><label id="cog-5-label" for="cog-5" class="cog-label">
			Enquiry<span aria-hidden="true" class="cog-asterisk">*</span> <span class="cog-offscreen">(required)</span> <!----></label> <div class="cog-input"><div class="el-textarea"><textarea autocomplete="off" id="cog-5" placeholder="" class="el-textarea__inner" style="resize: both; min-height: 52px; height: 52px;"></textarea><!----></div></div> <div class="cog-field__placeholder cog-input"><div class="cog-field__placeholder-inner">
				&nbsp;
			</div></div> <!----> <!----> <!----></div></div> <div class="cog-row" style="display: none;"><div class="cog-field cog-col cog-col--12"><!----></div></div> <div class="cog-page__navigation"><!----> <button type="submit" class="el-button cog-button--has-status cog-button--primary cog-button--navigation cog-button--submit el-button--default cog-button" data-next="" data-action-name="Submit"><!----><!----><span><!----> <span class="cog-button__text"> 
					 Submit
				</span> <!----> </span></button> <!----></div> <!----></div></div><!----><!----><!----></div></div></form><div class="cog-loader"><div class="cog-loader__cog"></div></div><script src="https://www.cognitoforms.com/f/seamless.js" data-key="bVbBjEztWUGLb64Cc6VFvg" data-form="25" data-state="ready" class="cog-embed-script"></script>
</div>
</section>

<section class="pd-process" id="our-process" style="background-image:url('/assets/images/process_background.png')">
<div class="container pd-container">
<div class="title-wrapper justify-content-center">
<h2>Process Of A Gym Fit-Out</h2>
</div>
<div class="pd-process-box" style="background-image:url('/assets/images/step_1_background.svg')">
<div class="pd-process-box-icon">
<img src="/assets/images/process_01.png?1666776304" data-gtm-vis-first-on-screen-43749594_28="27809" data-gtm-vis-total-visible-time-43749594_28="500" data-gtm-vis-first-on-screen-90427889_84="27810" data-gtm-vis-total-visible-time-90427889_84="500" data-gtm-vis-has-fired-43749594_28="1" data-gtm-vis-has-fired-90427889_84="1">
</div>
<div class="pd-process-box-content">
<h2><span>STEP 01:</span> Consultation</h2>
<p>The process of starting with the gym fit out or updating the existing space isn’t always easy, as the process can be daunting and confusing. At Flex we believe it all starts with a conversation to understand your goals and vision for your facility, and be with you every step of the way. Get in touch with one of our experienced sales team, and get the expert service you need to guide you through the entire fit out process, as much or as little as you need. Send us your plans, a wish list of equipment or just your ideas and we’ll go from there</p>
</div>
</div>
<div class="pd-process-box" style="background-image:url('/assets/images/step_2_background.svg')">
<div class="pd-process-box-icon">
<img src="/assets/images/process_02.png?1666776304" data-gtm-vis-first-on-screen-43749594_28="28077" data-gtm-vis-total-visible-time-43749594_28="500" data-gtm-vis-first-on-screen-90427889_84="28079" data-gtm-vis-total-visible-time-90427889_84="500" data-gtm-vis-has-fired-43749594_28="1" data-gtm-vis-has-fired-90427889_84="1">
</div>
<div class="pd-process-box-content">
<h2><span>STEP 02:</span> Equipment</h2>
<p>Whatever your requirements, we aim to find the equipment for you. After being in the fitness industry for over 10+ years, we’ve seen the rise of fitness &amp; gyms in Australia and have been there every step of the way to stock the right and QUALITY brands to fit the commercial environment and stand the test of time. At FLEX we stock over 1000+ quality products to suit all the training requirements for a range of commercial fit outs. If we don’t stock it, we’ll source it.+</p>
</div>
</div>
<div class="pd-process-box" style="background-image:url('/assets/images/step_3_background.svg')">
<div class="pd-process-box-icon">
<img src="/assets/images/process_03.png?1666776304" data-gtm-vis-first-on-screen-43749594_28="28114" data-gtm-vis-total-visible-time-43749594_28="500" data-gtm-vis-first-on-screen-90427889_84="28115" data-gtm-vis-total-visible-time-90427889_84="500" data-gtm-vis-has-fired-43749594_28="1" data-gtm-vis-has-fired-90427889_84="1">
</div>
<div class="pd-process-box-content">
<h2><span>STEP 03:</span> Design</h2>
<p>At Flex, we listen to your vision and goals, to design a solution within your budget. Whether you have an idea, a drawing - we can help and bring it to life with our 3D Design to create your virtual gym space. Free advice on fitting out your dream gym into the space that suits your requirements.</p>
</div>
</div>
<div class="pd-process-box" style="background-image:url('/assets/images/step_4_background.svg')">
<div class="pd-process-box-icon">
<img src="/assets/images/process_04.png?1666776304" data-gtm-vis-first-on-screen-43749594_28="28911" data-gtm-vis-total-visible-time-43749594_28="300" data-gtm-vis-first-on-screen-90427889_84="28912" data-gtm-vis-total-visible-time-90427889_84="300">
</div>
<div class="pd-process-box-content">
<h2><span>STEP 04:</span> Finance</h2>
<p>At FLEX we offer a range of flexible solutions through our lending partners to help you finance your gym equipment when you need it. ZipBusiness (up to $150,000) &amp; FlexiCommercial for even larger purchases.</p>
</div>
</div>
<div class="pd-process-box" style="background-image:url('/assets/images/step_5_background.svg')">
<div class="pd-process-box-icon">
<img src="/assets/images/process_05.png?1666776304" data-gtm-vis-first-on-screen-43749594_28="28992" data-gtm-vis-total-visible-time-43749594_28="300" data-gtm-vis-first-on-screen-90427889_84="28994" data-gtm-vis-total-visible-time-90427889_84="300">
</div>
<div class="pd-process-box-content">
<h2><span>STEP 05:</span> Delivery &amp; Installation</h2>
<p>At FLEX we aim to deliver on time and as promised, with no hidden or false promises. Australia wide fast shipping is available, with our warehouses in WA, QLD and NSW.</p>
</div>
</div>
<div class="pd-process-box" style="background-image:url('/assets/images/step_6_background.svg')">
<div class="pd-process-box-icon">
<img src="/assets/images/process_06.png?1666776304" data-gtm-vis-first-on-screen-43749594_28="29010" data-gtm-vis-total-visible-time-43749594_28="500" data-gtm-vis-first-on-screen-90427889_84="29012" data-gtm-vis-total-visible-time-90427889_84="500" data-gtm-vis-has-fired-43749594_28="1" data-gtm-vis-has-fired-90427889_84="1">
</div>
<div class="pd-process-box-content">
<h2><span>STEP 06:</span> Support &amp; Marketing</h2>
<p>Aftercare and services are important within any gym, to maintain and help keep the equipment in top quality. It can be hard starting up and getting the name out for the gym, and our marketing experts are here to help with the social content, photography, and facebook adverts to help and make the gym profitable.</p>
</div>
</div>
</div>
</section>
</div>
<div class="sticky-quote" style="display: none;">
<div class="commercial-btn">
<a href="#get-a-quote">Get A Quote</a>
</div>
</div>
</div>
</div>
</body>
</html>