<html>
<body>
<footer class="wrapper-footer">
<div class="container full-width-container">
<div class="row footer-main">
<div class="col-12 col-lg-4 col-xl-3 footer-left-col">
<div class="footer-box">
<div class="footer-logo">
<a href="https://www.flexequipment.com.au" title="Flex Fitness Equipment">
<img class="logo" src="/assets/images/logo-png-light.png?1666776304" alt="Flex Fitness Equipment logo" data-gtm-vis-first-on-screen-43749594_28="29054" data-gtm-vis-total-visible-time-43749594_28="500" data-gtm-vis-first-on-screen-90427889_84="29055" data-gtm-vis-total-visible-time-90427889_84="500" data-gtm-vis-has-fired-43749594_28="1" data-gtm-vis-has-fired-90427889_84="1">
</a>
</div>
<div class="footer-content">
Flex Fitness Equipment is the one-stop shop for top quality fitness equipment in Australia where we willingly go the extra mile for you, the valued customer.
</div>
<ul class="nav flex-column">
<li class="nav-item"><a href="tel:1800 577 312" class="nav-link" title="Give us a call!"><i class="fas fa-phone-alt"></i>1800 577 312</a></li>
<li class="nav-item"><a href="mailto:info@flexequipment.com.au" class="nav-link" title="Drop us a line!"><i class="fas fa-envelope"></i>info@flexequipment.com.au</a></li>
</ul>
<ul class="nav social-nav">
<li class="nav-item"><a itemprop="sameAs" href="https://www.facebook.com/FlexFitnessEquipment" target="_blank" title="Flex Fitness Equipment on Facebook" rel="noopener"><i class="fab fa-facebook-f text-facebook" aria-hidden="true"></i><span class="sr-only">Facebook</span></a></li>
<li class="nav-item"><a itemprop="sameAs" href="https://instagram.com/flexfitnessequipment/" target="_blank" title="Flex Fitness Equipment on Instagram" rel="noopener"><i class="fab fa-instagram text-instagram" aria-hidden="true"></i><span class="sr-only">Instagram</span></a></li>
<li class="nav-item"><a itemprop="sameAs" href="https://www.youtube.com/channel/UCrDQY1R8tHkeKri_4w4NRBw" target="_blank" title="Flex Fitness Equipment on Youtube" rel="noopener"><i class="fab fa-youtube text-youtube" aria-hidden="true"></i><span class="sr-only">Youtube</span></a></li>
<li class="nav-item"><a itemprop="sameAs" href="https://www.pinterest.com.au/flexfitnessequipment/" target="_blank" title="Flex Fitness Equipment on Pinterest" rel="noopener"><i class="fab fa-pinterest text-pinterest" aria-hidden="true"></i><span class="sr-only">Pinterest</span></a></li>
<li class="nav-item"><a itemprop="sameAs" href="https://www.tiktok.com/@flexfitnessequipment" target="_blank" title="Flex Fitness Equipment on TikTok" rel="noopener"><i class="fab fa-tiktok"></i><span class="sr-only">TikTok</span></a></li>
</ul>
</div>
</div>
<div class="col-12 col-lg-8 col-xl-9 footer-nav">
<nav class="row" aria-label="Footer menu">
<div class="col-12 col-sm-6 col-xl-3 mb-3 mb-xl-0">
<ul class="nav flex-column">
<li class="nav-item"><h4 class="nav-link py-0 collapsed" data-toggle="collapse" href="#collapse0">Service</h4></li>
<span id="collapse0" class="collapse footer-dropdown"><ul class="nav flex-column">
<li class="nav-item"><a href="/service-enquiry" class="nav-link">Service Request</a></li><li class="nav-item"><a href="/_myacct" class="nav-link">My Account</a></li><li class="nav-item"><a href="/_myacct/nr_track_order" class="nav-link">Track Order</a></li><li class="nav-item"><a href="/_myacct/warranty" class="nav-link">Resolution Centre</a></li><li class="nav-item"><a href="/page/flex-equipment-warranty-policy/" class="nav-link">Warranty</a></li><li class="nav-item"><a href="/page/delivery/" class="nav-link">Delivery Information</a></li>
</ul></span>
</ul>
</div><div class="col-12 col-sm-6 col-xl-3 mb-3 mb-xl-0">
<ul class="nav flex-column">
<li class="nav-item"><h4 class="nav-link py-0 collapsed" data-toggle="collapse" href="#collapse1">About Us</h4></li>
<span id="collapse1" class="collapse footer-dropdown"><ul class="nav flex-column">
<li class="nav-item"><a href="/about_us" class="nav-link">About Us</a></li><li class="nav-item"><a href="/form/price-match/" class="nav-link">Price Match</a></li><li class="nav-item"><a href="/blog" class="nav-link">Our Blog</a></li><li class="nav-item"><a href="/contact-us" class="nav-link">Contact Us</a></li><li class="nav-item"><a href="/page/store-finder/" class="nav-link">Store Finder</a></li><li class="nav-item"><a href="/sponsorship/" class="nav-link">Sponsorship</a></li>
</ul></span>
</ul>
</div><div class="col-12 col-sm-6 col-xl-3 mb-3 mb-xl-0">
<ul class="nav flex-column">
<li class="nav-item"><h4 class="nav-link py-0 collapsed" data-toggle="collapse" href="#collapse2">Information</h4></li>
<span id="collapse2" class="collapse footer-dropdown"><ul class="nav flex-column">
<li class="nav-item"><a href="/terms-conditions/" class="nav-link">Terms &amp; Conditions</a></li><li class="nav-item"><a href="/terms_of_use" class="nav-link">Terms of Use</a></li><li class="nav-item"><a href="/privacy_policy/" class="nav-link">Privacy Policy</a></li><li class="nav-item"><a href="/returns_policy" class="nav-link">Returns Policy</a></li><li class="nav-item"><a href="/installation-terms-of-service" class="nav-link">Installation Terms Of Service</a></li><li class="nav-item"><a href="/security_policy" class="nav-link">Security Policy</a></li>
</ul></span>
</ul>
</div>
<div class="col-12 col-sm-6 col-xl-3 mb-3 mb-xl-0 footer-newsletter-col">
<ul class="nav flex-column">
<li class="nav-item nav-social-nav"><h4 class="nav-link py-0">Our Newsletter</h4></li>
<div class="klaviyo-form-UsaBz5 klaviyo-form form-version-cid-1"><div class="needsclick  kl-private-reset-css-Xuajs1" style="transform: translate(0px, 0px);"><form class="needsclick klaviyo-form klaviyo-form-version-cid_1 kl-private-reset-css-Xuajs1" data-testid="klaviyo-form-UsaBz5" novalidate="" tabindex="-1" style="display: flex; flex-direction: row; box-sizing: border-box; width: 100%; overflow: visible; border-radius: 2px; border-style: none; border-width: 0px; border-color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); background-repeat: no-repeat; background-position-y: 50%; padding: 0px;"><div class="needsclick  kl-private-reset-css-Xuajs1" style="display: flex; flex-direction: column; width: 100%; margin: 0px; padding: 0px; justify-content: center;"><div data-testid="form-row" class="needsclick  kl-private-reset-css-Xuajs1" style="display: flex; flex-direction: row; align-items: stretch; position: relative;"><div component="[object Object]" data-testid="form-component" class="needsclick  kl-private-reset-css-Xuajs1" style="display: flex; justify-content: flex-start; padding: 10px 6px 0px; position: relative; flex: 1 0 0px;"><div class="needsclick  kl-private-reset-css-Xuajs1" style="display: flex; flex-grow: 1; flex-direction: column; align-self: flex-end;"><input id="email_28721950" class="needsclick go2603163725 kl-private-reset-css-Xuajs1" type="email" autocomplete="email" name="email" tabindex="0" placeholder="Email" aria-label="Email" aria-invalid="false" options="[object Object]" style="box-sizing: border-box; border-radius: 2px; padding: 0px 0px 0px 16px; height: 40px; text-align: left; color: rgb(0, 0, 0); font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 400; letter-spacing: 0px; background-color: rgb(255, 255, 255); border: 1px solid rgb(180, 187, 195);"><div class="needsclick  kl-private-reset-css-Xuajs1" style="width: 100%; position: relative;"></div></div></div></div><div data-testid="form-row" class="needsclick  kl-private-reset-css-Xuajs1" style="display: flex; flex-direction: row; align-items: stretch; position: relative;"><div component="[object Object]" data-testid="form-component" class="needsclick  kl-private-reset-css-Xuajs1" style="display: flex; justify-content: flex-start; padding: 0px 6px; position: relative; flex: 1 0 0px;"><div class="kl-private-reset-css-Xuajs1 go3176171171" style="width: 100%;"><p style="font-size:14px;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;font-weight:400;"><span class="ql-font-helvetica-neue" style="font-size:12px;color:rgb(160, 160, 160);font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-weight:400;">By submitting this form, you agree to receive marketing text messages from Flex Fitness Equipment at the number provided, including messages sent by autodialer.</span></p></div></div></div><div data-testid="form-row" class="needsclick  kl-private-reset-css-Xuajs1" style="display: flex; flex-direction: row; align-items: stretch; position: relative;"><div component="[object Object]" data-testid="form-component" class="needsclick  kl-private-reset-css-Xuajs1" style="display: flex; justify-content: flex-start; padding: 10px 6px; position: relative; flex: 1 0 0px;"><div class="needsclick  kl-private-reset-css-Xuajs1" style="display: flex; flex-grow: 1; flex-direction: column; align-self: flex-end;"><div class="needsclick go3683173970 kl-private-reset-css-Xuajs1" style="display: flex; flex-direction: row; align-items: center; box-sizing: border-box; border-radius: 2px; padding: 0px; height: 40px; text-align: left; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 400; letter-spacing: 0px; background-color: rgb(255, 255, 255); border: 1px solid rgb(180, 187, 195);"><button class="needsclick go3582494590 kl-private-reset-css-Xuajs1" aria-label="Search Countries" type="button" role="combobox" aria-haspopup="listbox" aria-expanded="false" style="display: flex; flex-direction: row; align-items: center; justify-content: space-between; box-sizing: border-box; border: 1px solid rgba(0, 0, 0, 0); width: 62px; height: 40px; cursor: pointer; padding-left: 10px; margin-right: 5px;"><img aria-label="Australia" title="Australia" src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/4.1.4/flags/4x3/au.svg" style="display: inline-block; width: 1em; height: 1em; vertical-align: middle; border-radius: 3px;" data-gtm-vis-first-on-screen-43749594_28="29310" data-gtm-vis-total-visible-time-43749594_28="500" data-gtm-vis-first-on-screen-90427889_84="29311" data-gtm-vis-total-visible-time-90427889_84="500" data-gtm-vis-has-fired-43749594_28="1" data-gtm-vis-has-fired-90427889_84="1"><svg height="20" width="20" viewBox="0 0 20 20" aria-hidden="true" focusable="false" class="" transform="" style="fill: rgb(180, 187, 195);"><path d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z"></path></svg></button><input type="tel" data-testid="phoneNumberInput" id="phone_number_28721952" autocomplete="tel" name="phone-number" tabindex="0" placeholder="Phone Number" aria-label="Phone Number" aria-invalid="false" class="needsclick undefined kl-private-reset-css-Xuajs1" style="border: none; text-align: left; color: rgb(0, 0, 0); font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 400; letter-spacing: 0px; background-color: rgba(0, 0, 0, 0); flex-grow: 1;"></div><div class="needsclick  kl-private-reset-css-Xuajs1" style="width: 100%; position: relative;"></div></div></div></div><div data-testid="form-row" class="needsclick  kl-private-reset-css-Xuajs1" style="display: flex; flex-direction: row; align-items: stretch; position: relative;"><div component="[object Object]" data-testid="form-component" class="needsclick  kl-private-reset-css-Xuajs1" style="display: flex; justify-content: flex-start; padding: 5px 6px; position: relative; flex: 1 0 0px;"><button class="needsclick go3894874857 kl-private-reset-css-Xuajs1" type="button" tabindex="0" style="background: rgb(16, 95, 172); border-radius: 0px; border-style: solid; border-color: rgb(16, 95, 172); border-width: 9px; color: rgb(255, 255, 255); font-family: Roboto, Arial, &quot;Helvetica Neue&quot;, Helvetica, sans-serif; font-size: 16px; font-weight: 400; letter-spacing: 0px; line-height: 1; white-space: normal; padding-top: 11px; padding-bottom: 11px; text-align: center; word-break: break-word; align-self: flex-end; cursor: pointer; height: auto; width: 100%;">Subscribe</button></div></div></div><input type="submit" tabindex="-1" value="Submit" style="display: none;"></form></div></div>
</ul>
</div>
</nav>
</div>
</div>
</div>
</footer>

</body>
</html>